    
/*Atur font keseluruhann*/
body{
    font-family: 'Lora','Times New Roman', Times, serif,sans-serif;
    color: white;
    background-color: #EEEE;
}


header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header .title{
    display: flex;
    background-image: url("/aot web/assets/aot-for-title.png");
    max-height: 50em;
    background-repeat:no-repeat ;
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 20px;
}

.title h1 {
    display: flex;
    color:white;
    text-shadow: -2px 2px 5px black,0 0 5px #EEEE, 0 0 10px #EEEE, 0 0 15px #EEEE;
    text-align: center;
    font-size: 8vw;
    font-weight: 1000;
    justify-content: center;
}



/*Atur navigasi*/

.nav-container{
    box-shadow:-6px 6px 5px gray;
    padding: auto;
    border-radius: 30px;
    background-color:black;
    object-fit: cover;
    max-width: fit-content;
    margin-bottom: 20px;
}

.nav-container ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
    text-align: center;    
}

.nav-container ul a{
    list-style-type: none ;
    text-decoration: none;
    color: #EEEE;
}

.nav-container h2{
    text-align: center;
    list-style-type: none;
    text-decoration: none;
}

#navcard{
    margin: 40px;
    transition: all 0.8s;
    position: relative;
    overflow: hidden;
    height:340px;
    width: 260px;
}

#navcard h2 {
    transition: opacity 0.3s ease-in-out;
}

#navcard img {
    transition: transform 0.3s ease-in-out;
}

#navcard:hover h2 {
    opacity: 0;
}

#navcard:hover img {
    transform: scale(1.03);
    overflow: hidden;
}

/*Gambar di  navigasi*/

.nav-img{
    max-width: 250px;
    border-radius:30px;
}

.colossal img{
    height: 250px;
}


/*Atur body*/
body{
    display: flex;
    flex-direction: column;
}

/*Atur main*/
main{
    display: flex;
    gap:20px;
}


/*Atur aside*/

.genre p{
    text-indent: 0px;
}

main aside.aot{
    display: flex;
    align-items: center;
    flex-direction: column ;
    max-width:300px;
    max-height: 850px;
    order:1; 
    padding: 20px;
    margin: 20px;
    margin-right: 0px;
    box-shadow: -6px 5px 6px gray;   
    border-radius: 30px;
    flex-grow: 0;
    text-align: center;
    font-size: 1.2em;
    background-color: black;
}
.aot p{
    text-align: justify;
}
/*Tabel aside*/ 
main aside.aot table{
    text-align: justify;
}

aside.aot table td{
    text-align: center;
}

.aot p, .aot h3{
    margin:10px;
}
    
.genre {
    display: flex;
    font-size: 87%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}
.genre p {
    margin: 0;
    max-width: 100px;
    padding: 5px;
    text-align: center;
    border-radius:20px ;
    border-style: solid;
    border-color: white;
    opacity: 80%;
    transition: transform 0.3s ease-in-out;
}

.genre p:hover{
    opacity: 100%;
    font-weight: bolder;
    transform: scale(1.04);
}

/*Gambar aside*/
aside.aot img.aside-img{
    max-width: 250px;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.aside-img:hover{
    transform: scale(1.03);
}

.dropdown{
    z-index: 1000;
    color: black;
    position: fixed;
    right: 0;
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    align-items: center; 
}
.dropdown ul{
    list-style-type: none;
}

.dropdown ul a{
    text-decoration: none;
    color: #EEEE;
}

.dropdown .arrow{
    font-size: 2em;
    margin-right: 20px;
    position: relative  ;
    height: 100%;    
    padding: 0 auto;
    opacity: 10%;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}


.dropdown .arrow:hover{
    background-color: black;
    color: #EEEE;
    opacity: 1;
}

.dropdown .arrow{
    font-size: 2em;
    margin-right: 20px;
    cursor: pointer;
}

.dropdown.active .arrow{
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: calc(100% + 10px); 
}



.dropdown.active .toc ul{
    display: flex;
    flex-direction: column;
}


.arrow{
    cursor: pointer;
}

.toc ul{
    display: flex;
    flex-direction: column;
    gap:1.5em;
    cursor: pointer;
    background-color:black ;
    border-radius: 30px;
    padding:20px;
    box-shadow: -6px 6px 5px black ;
    display: none;
}

.toc ul li a{
    padding: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 100%;
    font-weight: bold;
}

.toc ul li a:hover{
    background-color: #EEEE;
    border-radius: 30px;
    font-size:1.3em;
    color: black;
    
}

/*Atur konten*/

.before-fig{
    margin-bottom: 25px;
}

div.content{
    display:flex;
    flex-direction: column;
    flex-grow: 2;
    text-align: justify;    
    font-size: 1.2em;
}

#intro .first-paragraph::first-letter{
    font-size: 3em;
}

div p{
    text-indent: 30px;
    margin: 10px;
}



.path-fig{
    margin: 0;
    max-width: 800px;
}


/*atur content*/

.content .content-card{
    box-shadow: -6px 6px 5px gray;
    padding: 20px;
    margin-block: 20px;
    border-radius: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.content-card>img{
    object-fit: cover;
    border-radius: 30px;
    
}

.path-fig{
    text-align: center;

}

.content-card .path{
    object-fit: cover;
    border-radius: 30px;
}

.content-card h2{
    margin-bottom: 10px;
    background-color: #EEEE;
    color: black;
    border-radius: 30px;
    width:50%;
    box-shadow: -1px 3px 4px #EEEE ;
    text-shadow: -2px 2px 5px gray;
    align-self: center;
    top:0;
}

.content-card h3{
    margin-bottom: 30px;
    font-size:90%;
}

.content-card h2, h3{
    text-align: center;
}

.content-card h3.general-beast-abilities{
    margin-bottom: 10px;
}

.content-card h3.zeke-abilities{
    margin-top:0;
}

/*atur image content*/



.content-card .fig-img-content{
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.content-card .fig-img-content:hover{
    transform: scale(1.02);
}

.path{
    max-width: 700px;
    transition: transform 0.3s ease-in-out;

}

.path:hover{
    transform: scale(1.03);
}

/* Slider */

.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides{
    display: flex;
    position: relative;
    flex-flow:row wrap;
    justify-content: center;
}

.slides img{
    width: 500px;
    max-height: 500px;
    display: none;
    border-radius: 30px;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1000px;
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.slider button:hover{
    background-color: white;
    color: black;
}

.next{
    right: 0;
    bottom:0;
}

.prev{
    left: 0;
    bottom: 0;
}


img.display_slide{
    display: flex;
    flex-direction: row;
}


.jaw-image-content{
    max-height: 500px;
    max-width: 800px;
}

.colossal-image-content{
    max-width: 800px;
}

.attack-image-content{
    max-width: 800px;
    max-height: 1000px;
}

.beast-image-content{
    max-width: 800px;
}

.cart-image-content, .armor-image-content{
    max-width: 800px;
}


footer{
    box-shadow: -6px 6px 5px gray ;
    border-radius: 30px 30px 0px 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 0.3s ;
}

footer *{
    text-align: center;
    justify-content: center;
}

footer table{
    margin: 0 auto;
}

footer >p{
    margin-bottom: 0;
}

td a::before{
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 170%;
    right:0;
    opacity: 0;
    bottom: -5px;
    transition: all 0.3s;
}

td a:hover{
    font-weight: bolder;
}

td a:hover::before{
    opacity: 100%;
}

@media screen and (max-width:1000px) {
    main{
        flex-direction:column;
    }

    title,.nav-container{
        width: 1000px;
    }
    .content{
        order: 1;
    }
    aside{
        order:0;
        width: auto;
    }
}

@media  screen and (max-width:800px) {
    .content-card{
        width: 800px;
    }

    .nav-container{
        max-width: 800px;
    }

    .title{
        width: 800px;
    }
}

