html{
    scroll-behavior: smooth;
}

/*Atur font keseluruhann*/
body{
    font-family: 'Lora','Times New Roman', Times, serif,sans-serif;
    color: white;
    background-color: #EEEE;
    
}

.title header, .content *{
    animation:appear linear;
    animation-timeline: view();
    animation-range: entry 0, cover 40%;
}

aside{
    animation: forAside linear;
    animation-timeline: view();
    animation-range: entry 0, cover 40% ;
}

footer{
    animation: forFooter linear;
    animation-timeline: view();
    animation-range: entry 0, cover 40% ;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header .title{
    display: flex;
    background-image: url("/aot web/assets/aot-for-title.png");
    max-height: 50em;
    background-repeat:no-repeat ;
    background-attachment:fixed ;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 20px;
}

.title h1 {
    display: flex;
    color:white;
    text-shadow: -2px 2px 5px black,0 0 5px #EEEE, 0 0 10px #EEEE, 0 0 15px #EEEE;
    text-align: center;
    font-size: 8vw;
    font-weight: 1000;
    justify-content: center;
}



/*Atur navigasi*/

.nav-container{
    box-shadow:-6px 6px 5px gray;
    padding: auto;
    overflow: hidden;
    border-radius: 30px;
    background-color:black;
    object-fit: cover;
    margin: 20px;
}

.nav-container ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
    text-align: center;    
}

.nav-container ul a{
    list-style-type: none ;
    text-decoration: none;
    color: #EEEE;
}

.nav-container h2{
    text-align: center;
    font-size: 1.5em;
    text-shadow: -2px 2px 5px black,0 0 5px #EEEE, 0 0 10px #EEEE, 0 0 15px #EEEE;
    list-style-type: none;
    text-decoration: none;
}

#navcard{
    margin: 40px;
    transition: all 0.8s;
    position: relative;
    height:340px;
    width: 260px;
    object-fit: cover;
}

#navcard h2 {
    transition: opacity 0.3s ease-in-out;
}

#navcard img {
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

#navcard:hover h2 {
    opacity: 0;
}

#navcard:hover img {
    transform: scale(1.03);
}


/*Gambar di  navigasi*/

.nav-img{
    overflow: hidden;
    object-fit: cover;
    max-width: 250px;
    border-radius:30px;
}

.colossal img{
    height: 250px;
}


/*Atur body*/
body{
    display: flex;
    flex-direction: column;
}

/*Atur main*/
main{
    display: flex;
    gap:20px;
}


/*Atur aside*/



main aside.aot{
    display: flex;
    align-items: center;
    flex-direction: column ;
    object-fit: cover;
    max-height: 850px;
    order:1; 
    padding: 20px;
    margin: 20px;
    box-shadow: -6px 5px 6px gray;   
    border-radius: 30px;
    flex-grow: 0;
    text-align: center;
    font-size: 1.2em;
    background-color: black;
}
.aot p{
    text-align: justify;
}
/*Tabel aside*/ 
main aside.aot table{
    text-align: justify;
}

aside.aot table td{
    text-align: center;
}

.aot p, .aot h3{
    margin:10px;
}
    
.genre {
    display: flex;
    font-size: 87%;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}
.genre p {
    margin: 0;
    max-width: 100px;
    padding: 5px;
    text-align: center;
    border-radius:20px ;
    border-style: solid;
    border-color: white;
    opacity: 80%;
    transition: transform 0.3s ease-in-out;
}

.genre p:hover{
    opacity: 100%;
    font-weight: bolder;
    transform: scale(1.04);
}

/*Gambar aside*/


aside.aot img.aside-img{
    max-width: 250px;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


.aside-img:hover{
    transform: scale(1.03);
}

.dropdown{
    z-index: 999;
    color: black;
    position: fixed;
    right: 0;
    top: 45%; 
    transform: translateY(-50%); 
    display: flex;
    align-items: center; 
}

.dropdown ul{
    width: 200%;
}

.dropdown ul{
    list-style-type: none;
}

.dropdown ul a{
    text-decoration: none;
    color: #EEEE;
}

.dropdown .arrow{
    position: relative;   
    padding: 0 auto;
    background-color:black;
    color: #EEEE;
    font-weight: bolder;
    text-align: center;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font-size: 2.5em;
    cursor: pointer;
    transform: translateX(700%);
    border:2px solid #EEEE;
    box-shadow: -1px 1px 2px #EEEE;
}

.dropdown:hover .arrow {
    transform: translateX(390%);
}

.dropdown:hover .dropdown{
    pointer-events: auto;
   
}

.dropdown.active .arrow{
    transform: translateX(0);
    position: absolute;
    right: calc(100% + 50px);
    transform: rotateY(180deg); 
}


.arrow > p{
    text-indent: 0;
    margin: 10px;   
}

.dropdown .arrow:hover{
    background-color: #EEEE;
    border:2px solid black;
    color: black;
    box-shadow: -1px 1px 2px black;
}

.toc ul{
    display: flex;
    flex-direction: column;
    gap:1.5em;
    cursor: pointer;
    background-color:black ;
    border-radius: 30px;
    box-shadow: -6px 6px 5px black ;
    overflow: hidden;
    padding:20px ;
    transition:all 0.3s ease-in-out;
    transform: translateX(200%);
}

.dropdown.active .toc ul{
    transform: translateX(0);   
    display: flex;
    flex-direction: column;
}

.toc ul li a{
    padding: 10px;
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 100%;
    font-weight: bold;
}

.toc ul li a:hover{
    background-color: #EEEE;
    border-radius: 30px;
    font-size:1.3em;
    color: black;
    
}

/*Atur konten*/

.before-fig{
    margin-bottom: 25px;
}

div.content{
    display:flex;
    flex-direction: column;
    text-align: justify;    
    font-size: 1.2em;
}

#intro .first-paragraph::first-letter{
    font-size: 3em;
}

.content-card p{
    text-indent: 30px;
    margin: 10px;
}




/*atur content*/

.content .content-card{
    box-shadow: -6px 6px 5px gray;
    padding: 20px;
    margin:20px;
    border-radius: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;

}

.content-card>img{
    object-fit: cover;
    border-radius: 30px;
}

.path-fig{
    margin: 0;
    max-width: 700px;
    text-align: center;
    object-fit: cover;
    position: relative ;
    align-self: center;
}

.content-card .path{
    max-width:100%;
    border-radius: 30px;
}

.content-card h2{
    margin-bottom: 10px;
    background-color: #EEEE;
    color: black;
    border-radius: 30px;
    width:50%;
    box-shadow: -1px 3px 4px #EEEE ;
    text-shadow: -2px 2px 5px gray;
    align-self: center;
    top:0;
}

.content-card h3{
    margin-bottom: 30px;
    font-size:90%;
}

.content-card h2, h3{
    text-align: center;
}

.content-card h3.general-beast-abilities{
    margin-bottom: 10px;
}

.content-card h3.zeke-abilities{
    margin-top:0;
}

/*atur image content*/



.content-card .fig-img-content{
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.content-card .fig-img-content:hover{
    transform: scale(1.02);
}

.path{
    max-width: 700px;
    transition: transform 0.3s ease-in-out;

}

.path:hover{
    transform: scale(1.03);
}

/* Slider */

.slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides{
    display: flex;
    position: relative;
    flex-flow:row wrap;
    justify-content: center;
}

.slides img{
    width: 500px;
    max-height: 500px;
    display: none;
    border-radius: 30px;
}





.slider button{
    position: absolute;
    top: 25%;
    border-radius: 1000px;
    font-size: 2em;
    max-height: 50%;
    padding: 10px 15px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.01ms ease-in-out ;
}

.slider button:hover{
    background-color: white;
    color: black;
}

.slider button:active{
    opacity: .3;
}


.next{
    right: 0;
    bottom:0;
}

.prev{
    left: 0;
    bottom: 0;
}


img.display_slide{
    display: flex;
    flex-direction: row;
    animation: fade 0.5s linear;
}

@keyframes fade{
    from{opacity: .1;}
    to{opacity: 1;}
}


footer{
    box-shadow: -6px 6px 5px gray ;
    border-radius: 30px 30px 0px 0px;
    background-color: black;    
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: none;
    color: white;
    position: relative;
    transition: all 0.3s ;
}


footer *{
    text-align: center;
    justify-content: center;
}

footer table{
    margin: 0 auto;
}
footer h1{
    font-size:99.9% ;
    margin-bottom: 0;
}

footer >p{
    margin-bottom: 0;
}

td a::before{
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 170%;
    right:0;
    opacity: 0;
    bottom: -5px;
    transition: all 0.3s;
}

td a:hover{
    font-weight: bolder;
}

td a:hover::before{
    opacity: 100%;
}

@media screen and (max-width:1000px) {
    main{
        flex-direction:column;
    }
    .content{
        order: 1;
    }

    .slider button{
        background-color: transparent;

    }
    .slider button:hover{
        background-color: transparent;
        color: #EEEE;
    }

    aside{
        order:0;
        max-width:100%;
        overflow: hidden;
    }   
}

@media  screen and (max-width:735px) {

    .nav-container ul li {
        object-position : center;
    }
    
}

@keyframes appear{
    from{opacity: 0;
         scale:.8;
         transform:translateX(-100%);
    }
    to{opacity: 1;
       scale: 1;
       transform: translateX(0);
    }
}

@keyframes forAside {
    from{
        opacity: 0;
        scale: .8;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

@keyframes forFooter {
    from{
        opacity: 0;
        scale: .8;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }   
}
